<div class="panel-heading" role="tab" id="headingOne">
    <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="collapsed">
            Filtros
        </a>
    </h4>
</div>