@using Kendo.Mvc.UI
@using IronSchool.WebSite.Helpers
@{
    ViewBag.Title = Resources.Resources.Users;
    Layout = null;
}

@Styles.Render("~/bundles/kendoStyles")
@Scripts.Render("~/bundles/kendo")

<div class="browserWindow">
    @(Html.Kendo().Grid<IronSchool.WebSite.Models.UserIndexVM>
            ()
            .Name("grid")
            .Columns(columns =>
            {
                columns.Template(c => c.UserId)
                    .ClientTemplate(
                        "<a title='" + Resources.Resources.Select + "' href='\\#' onclick='browserItemSelected(#= UserId #, \"#= UserName #\", \"#= LastName # #= FirstName #\")'><i class='grid-action-icon zmdi-check'></i></a>"
                    )
                    .Title(Resources.Resources.Actions);
                columns.Bound(c => c.UserName);
                columns.Bound(c => c.FirstName);
                columns.Bound(c => c.LastName);
                columns.Bound(c => c.Email);
                columns.Bound(c => c.Active);
            })
            .HtmlAttributes(new { style = "height: 500px;" })
            .Scrollable()
            .Groupable()
            .Sortable()
            .Pageable(pageable => pageable
            .Refresh(true)
            .PageSizes(true)
            .ButtonCount(5))
            .DataSource(dataSource => dataSource
            .Ajax()
            .Read(read => read.Action("GetList", "User").Data("getFilter"))
            .PageSize(Html.CrudPageSize())
            )
            .Filterable()
    )
</div>

